<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mandrik.nick.maxelementinterface">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mandrik.nick.maxelementinterface.Bayern"
            android:label="@string/bayern" >
        </activity>
        <activity
            android:name="mandrik.nick.maxelementinterface.Dortmund"
            android:label="@string/dortmund" >
        </activity>
        <activity
            android:name="mandrik.nick.maxelementinterface.Wolfsburg"
            android:label="@string/wolfsburg" >
        </activity>
        <activity
            android:name="mandrik.nick.maxelementinterface.Levercusen"
            android:label="@string/bayer" >
        </activity>
    </application>
</manifest>